body {
    background-color: #222;
    color: lightseagreen;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}

p {
    text-align: justify;
    text-indent: -16px;
}

a {
    text-decoration: none;
}

@media screen and (max-width: 820px) {
    .container {
        
        padding-left: 24px;
        padding-right: 24px;
    }
    .text-container {
        width: 640px;
    }
}
@media screen and (max-width: 440px) {
    .container {
        padding-left: 16px;
        padding-right: 16px;
    }
    .text-container {
        width: 360px;
    }
}